<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example bg-white shadow-sm" *ngIf="showMenu()">

    <!-- Example Code -->

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="dashboard">
          <i class="fa fa-users mb-2"></i>
        </a>
        <button class="navbar-toggler collapsed" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" aria-current="page" routerLink="eventos/lista">Eventos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="palestrantes">Palestrantes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="contatos">Contatos</a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Carlos
              </a>
              <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="user/perfil">
                  Perfil
                </a>
                <div role="separator" class="divider"></div>
                <a class="dropdown-item" routerLink="user/registration">
                  Sair
                </a>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <!-- End Example Code -->
  </body>
</html>
